.navbar {
  padding: 0.5rem 1rem;
}

.church-name {
  font-family: 'Dancing Script', cursive;
  font-size: 28px; 
  color: #000; 
  font-weight: bold;
}

.indie-font {
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  font-weight: bold;
}

.indie-font-dropdown {
  font-family: 'Indie Flower', cursive;
  font-size: 16px;
  font-weight: bold;
}

.navbar-nav .nav-item {
  margin: 0 5px;
}

.nav-link {
  padding: 0.5rem 0.75rem;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.dropdown-item {
  font-size: 16px;
  padding: 8px 16px;
}

@media (max-width: 991px) {
  .navbar-nav {
      padding-top: 1rem;
  }
  .nav-item {
      margin: 5px 0;
  }
  .dropdown-menu {
      background-color: transparent;
      border: none;
      box-shadow: none;
  }
  .dropdown-item {
      color: rgba(0,0,0,.55);
      padding: 5px 0 5px 15px;
  }
}