.church-name {
    font-family: 'Dancing Script', cursive;
    font-size: 24px; 
    color: #000; 
    margin-left: 10px; 
  }

.indie-font {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bold;
}
