<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>St. Francis Xavier Church</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom_css/custom_css_file.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&family=Caveat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <span class="church-name">St. Francis Xavier Church</span>
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link indie-font" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link indie-font dropdown-toggle" href="#" id="ourParishDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">Our Parish</a>
                        <ul class="dropdown-menu" aria-labelledby="ourParishDropdown">
                            <li><a class="dropdown-item indie-font-dropdown" href="history">History</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Parish Priest</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="patronsaint">Patron Saint</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="parishcouncil">Parish Council</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Parish Information</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Previous Priests</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Golden Jubilee Celebrations</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Gallery</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link indie-font dropdown-toggle" href="#" id="dominicansDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">Dominicans</a>
                        <ul class="dropdown-menu" aria-labelledby="dominicansDropdown">
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Our Work</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Prayerful Thoughts</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Donations</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link indie-font dropdown-toggle" href="#" id="associationsDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">Associations</a>
                        <ul class="dropdown-menu" aria-labelledby="associationsDropdown">
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Altar Servers</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Choir</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Eucharistic Ministers</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Lectors</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Legion of Mary</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Projection Team</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Senior Citizen's Association</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Sunday School</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Society of St.Vincent De Paul</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Women's Cell</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Youth Group</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link indie-font" href="#">Communities</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link indie-font dropdown-toggle" href="#" id="contactDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">Contact</a>
                        <ul class="dropdown-menu" aria-labelledby="contactDropdown">
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Calendar</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Useful Resources</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Parish Connections</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container history-container">
        <h1 class="history-title">History of our Parish</h1>
        <div class="history-content">
            <img src="{{url_for('static', filename='img/history.jpg')}}" class="history-image" alt="St. Francis Xavier Church History">
            <p>
                The Foundations of the idea of a Parish and Church in Parksite, Bombay dates back atleast 60 years. It is linked to the Government of the State of Maharashtra's plans then for the development of the City of Bombay. For this, they had decided to relocate the people living in the slums and various other dilapidated buildings in Bombay. One of the locations selected for this settlement was the area known today as Parksite Colony. Along with people from other walks of life, a number of Catholic families were also settled in this area.
            </p>
            <p>
                In their search for fulfillment of their spiritual needs, the Catholic families looked for a Church in the vicinity. There was a parish church St. Joseph's Church located close to a nearby railway station. The people started attending this church and fulfilling their obligations at this church. But the Parksite Catholics were always on the lookout for space to establish their own Parish Church. In 1960 some of the Catholic families living at Parksite, Vikhroli, Bombay, formed a committee under the banner of 'St. Francis Old Association' and for the purpose of religious prayers every day erected a cross on a vacant plot. In 1965 using their own manual labour to clear up the plot of land and with a donation of bricks they put up a temporary shed. A cross lying idle at the Our Lady of Gloria Church, Mazgaon, Bombay was brought and erected.
            </p>
            <p>
                In the beginning, the elderly people used to go around inviting Catholics to gather for the Rosary Devotion. They assembled every evening for the Rosary. A Priest was invited to bless the place and a mass was celebrated. Since then one or two low masses were celebrated except during the monsoon season. A temporary altar movable on castor wheels was made on which the holy sacrifice of the mass was offered. The whole area was provided with bamboo fencing. With financial contribution from the Catholics themselves, the place around the Altar was covered with wire mesh grill fencing with collapsible gate. As time passed by, the entire area was covered with barbed wire fencing and a concrete altar was constructed.
            </p>
            <p>
                Nine Years later, i.e in Jan 1974 the Catholics of Parksite now about 2000 strong, decided to start work on a chapel and began making a collection for that purpose. The people gave the chapel the name of St. Francis Xavier Chapel. Along with, they also sought to assert their right to a place of worship before various authorities, especially the Municipality.
            </p>
            <p>
                In June 1974, a Priest-in-charge was appointed by the Archbishop of Bombay and with a residence in a room near the chapel. In 1976, the efforts at chapel building suffered a setback as there was no immediate posting of a resident priest to cater to the spiritual needs of the community. The Catholics of Parksite came under the pastoral care of priests from St. Anthony's Vakola, Bombay. However by early 1977 all was set for a resident Priest-in-charge who took office in June of the same year.
            </p>
            <p>
                By this time, many more Catholics were settling down in the surrounding areas. A nearby area called Amrut Nagar in the Ghatkopar suburb of Bombay started developing with a number of high-rise buildings coming up. Subsequently Catholics were moving into this area and the and the parish population stated growing. The inflow of Catholics was higher than the outflow.
            </p>
            <p>
                In the meanwhile, a number of renovations and additions had been carried out to the place of worship. The Civic authorities were still not giving the requisite permissions and recognition. In the face of opposition, the Parishioners went ahead with their plans to construct a permanent church building for which a fund collection drive was carried out under the initiative and guidance of then Parish Priest Fr. Donath D'Souza. Thus the present day structure came into being.
            </p>
            <p>
                At this point, the Parish was only considered a parish unit and not a full fledged parish. So the next step was to acquire this status. Representations were made to the Archbishop. A demarcation of the boundaries of the parish unit were obtained. Finally, in the year 1999, 25 years after the first establishment of St. Francis Xavier Chapel, the unit was declared as a full fledged Parish by Archbishop Ivan Dias.
            </p>
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="indie-font">Church Office Timings</h5>
                    <p class="indie-font mb-0">Morning: 10AM to Noon</p>
                    <p class="indie-font mb-0">Evening: 5:30PM to 6:45PM</p>
                    <p class="indie-font mb-0">Closed on Sundays and Thursdays</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p class="indie-font mb-0">St.Francis Xavier Church</p>
                    <p class="indie-font mb-0">Parksite, Vikroli (W)</p>
                    <p class="indie-font mb-0">Mumbai - 400079</p>
                    <p class="indie-font mb-0">Made with ❤️ by the Software Team</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/mdb.umd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='custom_js/dropdown_menu.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="{{ url_for('static', filename='custom_js/custom_table.js')}}"></script>
    
</body>
</html>