<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>St. Francis Xavier Church</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom_css/custom_css_file.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&family=Caveat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <span class="church-name">St. Francis Xavier Church</span>
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link indie-font" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link indie-font dropdown-toggle" href="#" id="ourParishDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">Our Parish</a>
                        <ul class="dropdown-menu" aria-labelledby="ourParishDropdown">
                            <li><a class="dropdown-item indie-font-dropdown" href="history">History</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Parish Priest</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="patronsaint">Patron Saint</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="parishcouncil">Parish Council</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Office Bearers</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Parish Information</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Previous Priests</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Golden Jubilee Celebrations</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Gallery</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link indie-font dropdown-toggle" href="#" id="dominicansDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">Dominicans</a>
                        <ul class="dropdown-menu" aria-labelledby="dominicansDropdown">
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Our Work</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Prayerful Thoughts</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Donations</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link indie-font dropdown-toggle" href="#" id="associationsDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">Associations</a>
                        <ul class="dropdown-menu" aria-labelledby="associationsDropdown">
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Altar Servers</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Choir</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Eucharistic Ministers</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Lectors</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Legion of Mary</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Projection Team</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Senior Citizen's Association</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Sunday School</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Society of St.Vincent De Paul</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Women's Cell</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Youth Group</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link indie-font" href="#">Communities</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link indie-font dropdown-toggle" href="#" id="contactDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">Contact</a>
                        <ul class="dropdown-menu" aria-labelledby="contactDropdown">
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Calendar</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Useful Resources</a></li>
                            <li><a class="dropdown-item indie-font-dropdown" href="#">Parish Connections</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid py-4">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <div class="card mb-4">
                    <div class="card-header bg-primary text-white">
                        <h5 class="indie-font mb-0">Parish Communities</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" id="communityTable">
                                <thead class="bg-light">
                                    <tr>
                                        <th class="indie-font">Community No</th>
                                        <th class="indie-font">Community Name</th>
                                        <th class="indie-font">Community Representative</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for community in communities %}
                                    <tr>
                                        <td class="indie-font">{{ community.Comm_No }}</td>
                                        <td class="indie-font">{{ community.Comm_Name }}</td>
                                        <td class="indie-font">{{ community.Rep_Name }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5 class="indie-font mb-0">Religious Associations</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" id="associationTable">
                                <thead class="bg-light">
                                    <tr>
                                        <th class="indie-font">Association No</th>
                                        <th class="indie-font">Association Name</th>
                                        <th class="indie-font">Association Representative</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for association in associations %}
                                    <tr>
                                        <td class="indie-font">{{ association.Ass_No }}</td>
                                        <td class="indie-font">{{ association.Ass_Name }}</td>
                                        <td class="indie-font">{{ association.Rep_Name }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="indie-font">Church Office Timings</h5>
                    <p class="indie-font mb-0">Morning: 10AM to Noon</p>
                    <p class="indie-font mb-0">Evening: 5:30PM to 6:45PM</p>
                    <p class="indie-font mb-0">Closed on Sundays and Thursdays</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p class="indie-font mb-0">St.Francis Xavier Church</p>
                    <p class="indie-font mb-0">Parksite, Vikroli (W)</p>
                    <p class="indie-font mb-0">Mumbai - 400079</p>
                    <p class="indie-font mb-0">Made with ❤️ by the Software Team</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/mdb.umd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='custom_js/dropdown_menu.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="{{ url_for('static', filename='custom_js/custom_table.js')}}"></script>
    
</body>
</html>